<%= form_with(model: [:writer, post]) do |form| %>

  <div class="mb-3">
    <label>Title</label>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  
  <div class="mb-3">
    <label>User/Writer</label>
    <%= form.collection_select :user_id, @users, :id, :name, {include_blank: 'Select User...'}, {class: 'form-control'} %>
  </div>
  
  <div class="mb-3">
    <label>Category</label>
    <%= form.collection_select :category_id, @categories, :id, :title, {include_blank: 'Select Category...'}, {class: 'form-control'} %>
  </div>

  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
