<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_writer_post_path(@post) %> |
  <%= link_to "Back to posts", writer_posts_path %>

  <%= button_to "Destroy this post", [:writer, @post], method: :delete, class: 'btn btn-danger' %>
</div>
